<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tourist information</title>
{% include 'black_theme.html' %}
</head>
<body>
<h1> WELCOME TO MY PROJECT</h1>
<h2><u> Karnataka State Tourist Information System</u></h2>
<p> <a href="{% url 'reg' %}"> Registration </a></p>
























<p> <a href="{% url 'login' %}"> Login </a></p>

<p> <a href="{% url 'reg_view' %}"> reg view </a></p>

<p> <a href="{% url 'bookinfo' %}"> bookinfo </a></p>
<p> <a href="{% url 'bookinfo_view' %}"> bookinfo_view </a></p>

<p> <a href="{% url 'customerinfo' %}"> customerinfo </a></p>
<p> <a href="{% url 'customerinfo_view' %}"> customerinfo_view </a></p>

<p> <a href="{% url 'feedbackinfo' %}"> feedbackinfo </a></p>
<p> <a href="{% url 'feedbackinfo_view' %}"> feedbackinfo_view </a></p>

<p> <a href="{% url 'login' %}">login</a></p>

<p> <a href="{% url 'paymentinfo' %}"> paymentinfo </a></p>
<p> <a href="{% url 'paymentinfo_view' %}"> paymentinfo_view </a></p>

<p> <a href="{% url 'placeinfo' %}"> placeinfo </a></p>
<p> <a href="{% url 'placeinfo_view' %}"> placeinfo_view </a></p>

<p> <a href="{% url 'routeinfo' %}"> routeinfo </a></p>
<p> <a href="{% url 'routeinfo_view' %}"> routeinfo_view </a></p>

<p> <a href="{% url 'vehicleinfo' %}"> vehicleinfo </a></p>
<p> <a href="{% url 'vehicleinfo_view' %}"> vehicleinfo_view </a></p>

<p> <a href="{% url 'change_password' %}"> change_password </a></p>

<li> <a href="{% url 'simple_upload' %}"> upload</a></li>
<p> <a href="{% url 'simple_upload_view' %}"> simple_upload_view </a></p>

<li> <a href="{% url 'send_email' %}"> send_email</a></li>
</body>
</html>

